@using Newtonsoft.Json
@using SistemaDeReporteria.Modelos;
@model ReporteViewModel

@{
    ViewData["Title"] = "Reporte";
}

<div class="container-reporte">
    <h1 class="titulo-pagina">@ViewData["Title"]</h1>

    <div class="graphic-reporte">
        <h2>@Model.Chart.Titulo</h2>
        <canvas id="graphic" ></canvas>
    </div>
    <button class="btn" id="btn_descargar" type="button">Descargar</button>

    <div class="table-reporte">
        <table>
        <thead>
            <tr>
                @foreach (string nombreColumna in Model.ColumnasTabla)
                {
                    <th>@nombreColumna</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Proyectos != null)
            {
                @foreach (var proyecto in Model.Proyectos)
                {
                    <tr>
                        <td>@proyecto.Codigo</td>
                        <td>@proyecto.Titulo</td>
                        <td>@proyecto.Estado</td>
                        <td>@proyecto.Tipo</td>
                        <td>@proyecto.AreaConocimiento</td>
                        <td>@proyecto.ObjetivoSocioEconomico</td>
                        <td>@proyecto.EjeDePlanes</td>
                        <td>@proyecto.UnidadInvestigacion</td>
                        <td>@proyecto.FechaInicioEstimada</td>
                        <td>@proyecto.FechaInicioReal</td>
                        <td>@proyecto.FechaFinalizacionEstimada</td>
                        <td>@proyecto.FechaFinalizacionReal</td>
                    </tr>
                }
            }else if (Model.Investigadores != null)
            {
                @foreach (var investigador in Model.Investigadores)
                {
                    <tr>
                        <td>@investigador.PrimerApellido</td>
                        <td>@investigador.SegundoApellido</td>
                        <td>@investigador.Nombre</td>
                        <td>@investigador.Identificacion</td>
                        <td>@investigador.CorreoPrincipal</td>
                        <td>@investigador.GradoAcademico</td>
                        <td>@investigador.Edad</td>
                        <td>@investigador.Sexo</td>
                    </tr>
                }
            }
            </tbody>
        <tfoot></tfoot>
    </table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">     
        const handleOnClick = () => {
            const btnDescargar = document.getElementById('btn_descargar');
            btnDescargar.addEventListener('click', () => {
                let link = document.createElement('a');
                link.download = 'Grafico.jpg';
                link.href = canvas.toDataURL('image/jpeg', 1.0);
                link.click();
            })
        }

        crearChart('@Model.Chart.Id', '@Model.Chart.Tipo', @Html.Raw(JsonConvert.SerializeObject(Model.Chart.NombreColumnas)), '@Model.Chart.Titulo', @Html.Raw(JsonConvert.SerializeObject(Model.Chart.Datos)));
        handleOnClick();
    </script>
}

